/* style.css */

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
    Geneva, Verdana, sans-serif; }

.header {
    height: 15em;
    padding: 5em;
    font-size: 1em;
    background-image: url(../imgs/header.jpeg); 
    background-size: cover; 
    background-position: center;
    color: aliceblue;
    }

.header h1 { 
    margin: 0px;
    font-weight: 400;
}

/* Agregar a style.css */

.products { 
    width: 80%; 
    margin: auto;
}
.products td { 
    width: 50%; 
    padding: 2em;
}
.products img {
    width: 100%;
    border: solid 1px #ddd;
}

.footer {
    height: 3em;
    line-height: 3em;
    background-color: goldenrod; color: white;
    text-align: center;
    font-weight: 900;
    }